db.sqlite3
djangoSandbox.code-workspace
package-lock.json
*.tar
backend/myproject/__pycache__/
backend/myapp/__pycache__/
backend/myapp/management/__pycache__/
backend/myapp/management/commands/__pycache__/
backend/myapp/migrations/__pycache__/